.instagram{
    background: url("../../img/bcg-instagramm.jpg") center top no-repeat #000;
    background-size: cover;
}

.instagram__info{
    text-align: center;
    padding-top: 21%;
    padding-bottom: 21%;
}

.instagram__title{
    color: #fff;
    font-size: 55px;
    line-height: 70px;
    letter-spacing: 36px;
    font-weight: normal;
}

.instagram__link{
    color: #d74747;
    text-decoration: none;
    font-size: 30px;
    line-height: 75px;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 12px;
    transition-duration: 500ms;
    transition-property: letter-spacing;
}

.instagram__link:hover{
    letter-spacing: 15px;
}

@media (max-width:1280px) {
    .instagram__title{
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 18px;
    }

}

@media (max-width:580px){
    .instagram__title{
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 9px;  
    }
    .instagram__link{
        font-size: 20px;
        line-height: 45px;
        letter-spacing: 6px ;
    }
    .instagram__link:hover{
        letter-spacing: 8px;
    }
}